<div align ="center">

  <h3> Roles Assigned </h3>
  <%= form_for(:user, url:{}) do |f| %>
  <% Role.all.each do |role| %>
  <%= check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id), disabled:true %>
  <%= role.name.capitalize %>
  <%end%>
  <%end%>
  
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :cpfno %><br />
    <%= f.text_field :cpfno %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Sure you want to delete your acount? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

  <%= link_to "Back", :back %>
</div>