<div align = "center">
  <h2>Sign up</h2>
  <br />
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "off" %>
  </div>
  <br />

  <div class="field">
    <%= f.label :cpfno, "CPF No" %><br />
    <%= f.text_field :cpfno, autocomplete: "off" %>
  </div>
  <br />

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <br />
  
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br />
  
  <%= f.submit "Sign up", class: "btn btn-success" %>  
  
  <% end %>
  <br />
  <%= render "devise/shared/links" %>
</div> 