<h1> Delete Record? </h1>
<%= form_for(:threeddatum, url: {action: 'destroy', id: @threeddatum.id}) do |f| %>
<%= submit_tag("Delete Record" , class: "btn btn-danger") %>
<% end %>
<table class = "table table-hover">
	<tr> 
		<td> Tape ID </td>
		<td> <%= @threeddatum.tape_id %> </td>
	</tr>
	<tr> 
		<td> Media Type </td>
		<td> <%= @threeddatum.media_type %> </td>
	</tr>
	<tr> 
		<td> Acquisition Date </td>
		<td> <%= @threeddatum.aqdate %> </td>
	</tr>
	<tr> 
		<td> Area </td>
		<td> <%= @threeddatum.area %> </td>
	</tr>
	<tr> 
		<td> Cartridge Location </td>
		<td> <%= @threeddatum.clocation %> </td>
	</tr>
	<tr> 
		<td> Record Created at </td>
		<td> <%= @threeddatum.created_at %> </td>
	</tr>
	<tr> 
		<td> Record Updated at </td>
		<td> <%= @threeddatum.updated_at %> </td>
	</tr>
</table>