<h1> Edit Record </h1>

<%= error_messages_for @threeddatum %>

<%= form_for(:threeddatum, url: {action: 'update', id: @threeddatum.id}) do |f| %>
<table class="table table-hover">
	<tr>
		<th>Tape ID</th>
		<td> <%= f.text_field(:tape_id) %> </td>
	</tr>
	<tr>
		<th>Media Type</th>
		<td> <%= f.text_field(:media_type) %> </td>
	</tr>
	<tr>
		<th>Area</th>
		<td> <%= f.text_field(:area) %> </td>
	</tr>
	<tr>
		<th>Acquisition Date</th>
		<td> <%= f.date_select(:aqdate) %> </td>
	</tr>
	<tr>
		<th>Location</th>
		<td> <%= f.text_field(:clocation) %>
	</tr>
</table>
<%= submit_tag("Update Record", class: "btn btn-success") %>
<% end %>
