<h2>3D Data</h2>
<%= button_to("Add New Data", '/threeddata/new', class: "btn btn-success") if permitted_to? :new, :threeddata %> <br/>
<table>
  <tr><td>
    <%= form_tag('/threeddata', method: :get, enforce_utf8: false) do %>
    <%= text_field_tag :search_tapeid, params[:search_tapeid] %>
  </td>
  <td>
    <%= submit_tag "Search Tape ID", name: nil, class: "btn btn-primary" %>
  </td><td>
  <% end %>

</td><td>&nbsp;&nbsp;</td>

<td>
  <%= form_tag('/threeddata', method: :get, enforce_utf8: false) do %>
  <%= text_field_tag :search_mediatype, params[:search_mediatype] %>
</td>
<td>
  <%= submit_tag "Search Media Type", name: nil, class: "btn btn-primary" %>
  <% end %>

</td><td>&nbsp;&nbsp;</td>

<td>
  <%= form_tag('/threeddata', method: :get, enforce_utf8: false) do %>
  <%= text_field_tag :search_area, params[:search_area] %>
</td>
<td>
  <%= submit_tag "Search Area", name: nil, class: "btn btn-primary" %>
  <% end %>

</tr><tr>

<td>
  <%= form_tag('/threeddata', method: :get, enforce_utf8: false) do %>
  <%= date_field_tag :search_aqdate, params[:search_aqdate] %>
</td>
<td>
  <%= submit_tag "Search Aq Date", name: nil, class: "btn btn-primary" %>
  <% end %>

</td>
<td> </td><td> </td><td> </td><td> </td>
</td><td>&nbsp;&nbsp;</td>

<td>
  <%= form_tag('/threeddata', method: :get, enforce_utf8: false) do %>
  <%= text_field_tag :search_clocation, params[:search_clocation] %>
</td>
<td>
  <%= submit_tag "Search Location", name: nil, class: "btn btn-primary" %>
  <% end %>

</td></tr>
</table>

<table class="table table-hover">
  <tr>
    <th>Tape ID</th>
    <th>Media Type</th>
    <th>Area</th>
    <th>Acquisition Date</th>
    <th>Location</th>
    <th>Actions</th>
  </tr>
  <% @three_data.each do |data| %>
  <td><%= data.tape_id %></td>
  <td><%= data.media_type %></td>
  <td><%= data.area %></td>
  <td><%= data.aqdate %></td>
  <td><%= data.clocation %></td>
  <td>
    <%= link_to("Show", {:action => 'show', :id => data.id}) %>
    <%= link_to("Edit", {:action => 'edit', :id => data.id}) if permitted_to? :edit, :threeddata %>
    <%= link_to("Delete", {:action => 'delete', :id => data.id}) if permitted_to? :delete, :threeddata %>
  </td>
</tr>
<% end %>
</table>
</div>
<div align="center">
<%= will_paginate @three_data %>
</div>