<script src="/assets/jquery.imagemapster.min.js"></script>

<h1>Data Archival Library</h1>
</div>

<div class="margin">
	<a name="foo">
	<img id="mainImage" src="/assets/pic.png" usemap="#mark">
	</a>
</div>
<div class="margin">
	<img id="mainImage2" src="/assets/unnamed.png" usemap="#mark2">
</div>

<map name="mark">
	<script type="text/javascript">
	document.write('<area href="#" select="red1" shape="rect" coords="'+rowRackCoords.join(",")+'">');
	</script>
</map>

<map name="mark2">
	<script type="text/javascript">
	document.write('<area href="#" select="red2" shape="rect" coords="'+shelfBoxCoords.join(",")+'">');
	</script>
</map>
