<h1>Add Data</h1>
<%= error_messages_for(@threeddatum) %>
<%= form_for(:threeddatum, :url => {:action => 'create'}) do |f| %>
<table class="table table-hover">
	<tr>
		<td> Tape ID </td>
		<td> <%= f.text_field :tape_id %> </td>
	</tr>
	<tr>
		<td> Area </td>
		<td> <%= f.text_field(:area) %> </td>
	</tr>
	<tr>
		<td> Media Type </td>
		<td> <%= f.text_field(:media_type) %> </td>
	</tr>
	<tr>
		<td> Acquisition Date </td>
		<td> <%= f.date_select(:aqdate, start_year:Time.now.year-15, end_year:Time.now.year) %> </td>
	</tr>
	<tr>
		<td> Cartidge Location </td>
		<td> <%= f.text_field :clocation, placeholder: "[1-4][1-7][1-6][1-8]" %> </td>
	</tr>
</table>
<%= submit_tag("Create Record", class: "btn btn-success") %>
<% end %>
