<table class = "table">
	<tr>
		<th>CPF NO</th><td><%= @user.cpfno %></td>
		</tr><tr>
		<th>Name</th><td><%= @user.name %></td>
		</tr><tr>
		<th>Created at</th><td><%= @user.created_at %></td>
		</tr><tr>
		<th>Updated at</th><td><%= @user.updated_at %></td>		
	</tr>
</table>
<%= form_for(:user, url:{action: 'destroy', id: @user.id}) do |f| %>
	<%= submit_tag("Delete User" , class: "btn btn-danger") %>
<% end %>