<h4> CPF No : <%= @user.cpfno %></h4>
<h3> Employee Name: <%= @user.name %></h3>
<br />
<%= form_for(:user, url: {action: 'update', id: @user.id}) do |f| %>

<%= hidden_field_tag "user[role_ids][]", nil  %>
<% Role.all.each do |role| %>
<%= check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id) %>
<%= role.name.capitalize %>
<% end %>

<br />
<%= submit_tag("Update Role", class: "btn btn-primary") %>
<% end %>