<table class = "table">
	<tr>
		<%= form_tag('/users', method: 'get', enforce_utf8: false) do %>
		<td><%= text_field_tag :search_name, params[:search_name] %>
		<%= submit_tag "Search by Name", name: nil, class: "btn btn-primary" %></td>
		<% end %>

		<%= form_tag("/users", method: 'get', enforce_utf8: false) do %>
		<td><%= text_field_tag :search_cpfno, params[:search_cpfno] %>
		<%= submit_tag "Search By CPF Number", name: nil, class: "btn btn-primary" %>
		<% end %>
	</tr>
</table>


<table class = "table table-hover">
	<tr>
		<th>Name</th>
		<th>CPF No</th>
		<th>Actions</th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.name %></td>
		<td><%= user.cpfno %></td>
		<td>
			<%= link_to("Show", {:action => 'show', :id=>user.id}) %>
			<%= link_to("Assign_Role", {:action => 'edit', :id=>user.id}) %>
			<%= link_to("Delete", {:action => 'delete', :id=>user.id}) %>
		</td>
	</tr>
	<% end %>
</table>
<%= will_paginate @users %>
