<table class = "table">
	<tr>
		<th>CPF NO</th>
		<th>Name</th>
		<th>Created at</th>
		<th>Updated at</th>
		<th> Roles </th>
	</tr>
	<tr>
		<td><%= @user.cpfno %></td>
		<td><%= @user.name %></td>
		<td><%= @user.created_at %></td>
		<td><%= @user.updated_at %></td>
		<td>
			<%= form_for(:user, url:{}) do |f| %>
			<% Role.all.each do |role| %>
			<%= check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id), disabled: true %>
			<%= role.name.capitalize %>
			<%end%>
			<%end%>
		</td>
	</tr>
</table>
