<%= link_to("View 3D Data", '/threeddata', class: "btn btn-success") if permitted_to? :index, :threeddata %>
<%= link_to("View Users", '/users', class: "btn btn-success") if permitted_to? :index, :user %>

<%= link_to("Requisitions", '/requisitions', class: "btn btn-success") if permitted_to? :index, :requisitions %>
<% if !permitted_to? :index, :threeddata %>
	<% if !permitted_to? :index, :requisitions %>
<h3>
	<%= "Ask your supervisor to assign you a Role" %>
</h3>
<% end %>
<% end %>