<br/>
<table>
  <tr><td>
    <%= form_tag('/requisitions', method: :get, enforce_utf8: false) do %>
    <%= text_field_tag :search_tapeid, params[:search_tapeid] %>
  </td>
  <td>&nbsp;&nbsp;</td>	
  <td>
    <%= submit_tag "Search Tape ID", name: nil, class: "btn btn-primary" %>
  </td><td>
  <% end %>
</table>

<table class="table table-hover">
	<tr> 
		<th>Tape ID</th>
		<th>Media Type</th>
		<th>Area</th>
		<th>Cartridge Location</th>
		<th colspan="3">Requisition Status</th>
	</tr>
	<% @data.each do |r| %>
		<tr>
			<td><%= r.tape_id %></td>
			<td><%= r.media_type %></td>
			<td><%= r.area %></td>
			<td><%= link_to "#{r.clocation}", controller: 'threeddata', action: 'locate', id: r.id %></td>

			<% if r.requisition_id==2 %>
				<td id="colorr"><%= "Awaiting" %></td>
				<td>Submitted by <%= r.submitter %></td>
				<td><%= link_to "Approve", action:'approve', id:r.id if permitted_to? :approve, :requisitions %>
				<%= link_to "Reject", action: 'reject', id: r.id if permitted_to? :reject, :requisitions %></td>

			<% elsif r.requisition_id==3 %>
				<td id="colorg"><%= "Approved" %></td>
				<td>Approved by <%= r.approver %>
				| Submitted by <%= r.submitter %></td>
				<% if current_user.name==r.submitter %>
					<td><%= link_to "Return", action: 'return', id: r.id %></td>
				<% else %>
					<td></td>
				<% end %>

			<% elsif r.requisition_id==4 %>
			<td id="colorb"><%= "Returned" %></td>
			<td> Returned by <%= r.submitter %>
			| Approved by <%= r.approver %> </td>
			<% if r.approver==current_user.name %>
				<td><%= link_to "Acknowledge", action: 'acknowledge', id: r.id if permitted_to? :acknowledge, :requisitions %></td>
			<% else %>
				<td></td>
			<% end %>

			<% else %>
				<td><%= "Available" %> </td>
				<td><%= link_to "Submit", action: 'submit', id: r.id if permitted_to? :submit, :requisitions %>
				</td>
				<td></td>
			<% end %>
		</tr>
	<% end %>
</table>
<%= will_paginate(@data) %>