/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.colorbl:link{
	color: black;
}

#colorg {
	color: green;
	font-weight: bold;
}

#colorb {
	color: blue;
	font-weight: bold;
}

#colorr {
	color: red;
	font-weight: bold;
}
