<!DOCTYPE html>
<html>
<head>
  <title>ONGC</title>
  <%= Gon::Base.render_data({}) %>
  <%= stylesheet_link_tag('application', :media => 'all') %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<div class="alert alert-success" align="center">
    <h1><strong>Data Archival Management System</strong> </h1>
</div>
<div class="contianer-fluid" align="center">

	<% if user_signed_in? %>
      Logged in as <strong>
      <%= link_to "#{current_user.name}", edit_user_registration_path %>  </strong>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
  <% else %>
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success" %>      
      <%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %> 
  <% end %>

</div>
<div align = "center">
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %> 
</div>

<div align ="center">
<%= yield %>
</div>

</body>
</html>
